<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="images/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./images/profile.png" class="portrait" alt="Profile Picture">
        <p>This Web-App is made by {{name}} by the Grace of God.</p>
        <p>The techonologies used are node.js [express.js] and handlebars templating engine</p>
        <p>Jesus Loves you.</p>
        <p>Repent for your sins.</p>
        <p>Receive His graceful and merciful salvation.</p>
    </div>
    {{>footer}}
</body>

</html>